spring:
  profiles:
    active: dev
  devtools:
    livereload:
      enabled: true  # resource가 바뀌면 자동으로 reload 활성화

management:
  endpoints:
    web:
      exposure:
        include: health, beans, conditions, loggers, info, shutdown
      base-path: /management
      path-mapping:
        health: health_check
  endpoint:
    health:
      show-details: always

gateway:
  url: http://localhost:8080