server:
  port: 3000
  shutdown: graceful

spring:
  application:
    name: front-server
  lifecycle:
    timeout-per-shutdown-phase: 30s
  profiles:
    active: dev

  data:
    redis:
      host: localhost
      port: 6379
      password: ""

management:
  endpoints:
    web:
      exposure:
        include: health
      base-path: /management

jwt:
  security: super-strong-secret-key-that-is-256-bits-long!

logging:
  level:
    org.springframework.security: debug

gateway:
  url: http://localhost:8080
