<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Delivery Policy</title>
</head>
<body>
<h1>Create Delivery Policy</h1>

<!-- 폼 시작 -->
<form th:action="@{/admin/delivery-policies/create}" th:object="${deliveryPolicy}" method="post">
    <!-- 배달 정책 이름 -->
    <div>
        <label for="deliveryPolicyName">Delivery Policy Name:</label>
        <input type="text" id="deliveryPolicyName" th:field="*{deliveryPolicyName}" placeholder="Enter delivery policy name"/>
        <div th:if="${#fields.hasErrors('deliveryPolicyName')}" th:errors="*{deliveryPolicyName}"></div>
    </div>

    <!-- 기준 가격 -->
    <div>
        <label for="policyStandardPrice">Policy Standard Price:</label>
        <input type="number" id="policyStandardPrice" th:field="*{policyStandardPrice}" placeholder="Enter policy standard price" step="0.01"/>
        <div th:if="${#fields.hasErrors('policyStandardPrice')}" th:errors="*{policyStandardPrice}"></div>
    </div>

    <div>
        <label for="deliveryPrice">Delivery Price:</label>
        <input type="number" id="deliveryPrice" th:field="*{deliveryPrice}" placeholder="Enter delivery price" step="0.01" />
        <div th:if="${#fields.hasErrors('deliveryPrice')}" th:errors="*{deliveryPrice}"></div>
    </div>


    <!-- 기본 정책 여부 -->
    <div>
        <label for="standardPolicy">Is Standard Policy:</label>
        <input type="checkbox" id="standardPolicy" th:field="*{standardPolicy}"/>
    </div>

    <!-- 제출 버튼 -->
    <div>
        <button type="submit">Create Delivery Policy</button>
    </div>


    <div>
        <a th:href="@{/admin}">
            <button type="button">어드민 메인 페이지</button>
        </a>
    </div>

</form>
</body>
</html>
