<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Point Policy</title>
</head>
<body>
<h1>Create Point Policy</h1>
<form th:action="@{/admin/pointPolicies}" method="post">
    <label for="earningMethod">Earning Method:</label>
    <select id="earningMethod" name="earningMethod">
        <option th:each="method : ${earningMethods}" th:value="${method}" th:text="${method}"></option>
    </select>
    <br/>

    <label for="earningType">Earning Type:</label>
    <select id="earningType" name="earningType">
        <option th:each="type : ${earningTypes}" th:value="${type}" th:text="${type}"></option>
    </select>
    <br/>

    <label for="earningValue">Earning Value:</label>
    <input id="earningValue" type="number" step="0.01" name="earningValue" required/>
    <br/>

    <label for="description">Description:</label>
    <input id="description" type="text" name="description" required/>
    <br/>

    <label for="isAvailable">Is Available:</label>
    <input id="isAvailable" type="checkbox" name="available"/>
    <br/>

    <button type="submit">Create</button>
</form>
<a th:href="@{/admin/pointPolicies}">Back to List</a>

<div>
    <a th:href="@{/admin}">
        <button type="button">어드민 메인 페이지</button>
    </a>
</div>
</body>
</html>
