<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>front-server</title>
</head>
<body>
<p>CICD 무중단 배포 마지막 테스트 완료 good</p>
<a href="/users/register">회원 가입 폼</a> <br><br>
<a href="/login">로그인 폼</a> <br><br>

<a href="/users/myPage">마이페이지</a><br><br>
<!--<a href="/books">도서 목록 불러오기</a><br><br>-->
<a href="/admin/contributors">기여자 목록 조회</a><br><br>
<a href="/admin/contributors/create">기여자 등록 폼</a><br><br>
<a href="/admin/tags">태그 목록 조회</a><br><br>
<a href="/admin/tags/create">태그 등록 폼</a><br><br>


</body>
</html>