<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>포장지 추가</title>
</head>
<body>
<header>
    <h1>새 포장지 추가</h1>
</header>
<main>
    <form th:action="@{/admin/wrap-types/create}" method="post">
        <label for="packageName">이름:</label>
        <input type="text" id="packageName" name="packageName" th:value="${wrapType.packageName}" required>

        <label for="packagePrice">가격:</label>
        <input type="number" id="packagePrice" name="packagePrice" th:value="${wrapType.packagePrice}" required>

        <label for="isAvailable">판매 가능 여부:</label>
        <select id="isAvailable" name="isAvailable">
            <option value="true" th:selected="${wrapType.isAvailable}">가능</option>
            <option value="false" th:unless="${wrapType.isAvailable}">불가능</option>
        </select>

        <button type="submit">저장</button>
    </form>
</main>
</body>
</html>
